
<form action="{{public_address}}/organisations/update" method="post">
  <div class="row">
    <div class="col-md-6">
      <div class="container">

        {{>organisations/add}}

        <div class="row">
          <button type="submit" class="btn btn-block btn-primary">Update Organisation</button>
        </div>

      </div>
    </div>
  </div>
</form>
