<div class="row">
  <div class="col-md-6">
    <div class="container">
      <div class="row">
        <input class="form-control mb-2" name="title" placeholder="Organisation Name" value="{{organisation.details.title}}" />
      </div>

      <div class="row">
        <textarea class="form-control mb-2" name="address" placeholder="Organisation Address">{{organisation.details.address}}</textarea>
      </div>

      <div class="row">
        <button class="btn btn-block btn-primary">Update Organisation</button>
      </div>

    </div>
  </div>
</div>
